<div class="container">
  <aside class="left-panel">
    <div class="row">
      <h3>Tweets Filter</h3>
    </div>
    <div class="row filter-section">
      <app-search></app-search>
    </div>
    <div class="row filter-options">
      <h3>Show only</h3>
      <label>
        <input type="radio" name="tweetFilter" (change)="onShowRetweetsChange(false)"  checked> All tweets</label>
      <label>
        <input type="radio" name="tweetFilter" (change)="onShowRetweetsChange(true)" > Retweeted tweets
      </label>
    </div>
    <div class="row pagination">
      <app-pagination></app-pagination>
    </div>

  </aside>

  <main class="right-panel">
    <!-- Right Panel Content -->
    <app-feed [showRetweets]="showRetweets"></app-feed>
  </main>
</div>