
.container {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.left-panel {
    flex: 0 0 20%;
    background-color: #fff;
    padding: 10px;
    margin-right: 20px;
    border-radius: 5px;
    height: 500px;
    .row {        
        background-color: #fff;
        margin: 15px;
    }
    
}

.filter-options label {
    display: block;
    margin-bottom: 10px;
    margin-left: 10px;
  }

.right-panel {
    flex: 0 0 60%;
    background-color: #e8f0f8;
    border: 1px solid #d8e4ee;
    padding: 10px 0 10px 0;
    
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .left-panel,
    .right-panel {
        flex: 1 1 auto;
        width: 100%;
    }
    .left-panel{
        height: auto;
    }
}