<div class="tweets">
    <div *ngFor="let tweet of displayedTweets" [class.retweet]="tweet.retweeted_status">
        <label *ngIf="tweet.retweeted_status" class="retweet-label">{{tweet.retweeted_status.user.name}} Retweeted</label>
        <div class="row">
            <div class="tweet-user">
                <div class="initials-avatar">
                    <ng-container *ngIf="tweet.user.profile_image_url; else showName">
                        <img [src]="sanitizeImageUrl(tweet.user.profile_image_url)" (error)="showDefaultImage(tweet.user)" height="40" width="40">
                    </ng-container>
                    <ng-template #showName>
                        <span>{{ getInitials(tweet.user.name) }}</span>
                    </ng-template>
                </div>
                <label class="user-info">
                    {{tweet.user.name}}(<a [href]="'https://twitter.com/' + tweet.user.screen_name"
                        target="_blank" class="screen_name">&#64;{{tweet.user.screen_name}}</a>)
                </label>
            </div>
            <div class="tweet-content">
                <p [innerHTML]="tweet.text  | linkify"></p>
            </div>
        </div>
    </div>
</div>